node_modules
.git
.vscode
.expo
.expo-shared
android
ios
*.log
*.apk
*.aab
android/app/build
android/build
dist
build
coverage
tmp
.env
.expo
.expo-shared
*.apk
*.aab
*.zip
*.tar
*.gz
coverage
dist
build
