node_modules
.git
.gitignore
.expo
.expo-shared

dist
build
coverage

android
ios

*.log
*.tmp
*.zip
*.tar
*.tar.gz
*.apk
*.aab

.vscode
.env
.env.*

# optional large folders
scripts
tests
__tests__